body
{
color:red;
background-color:yellow;
}h1
{
color:green;
text-align:center;
font-size:50px;
font-family:verdhana, italic;
margin-right:25px;
margin-left:25px;
border-style:dotted;
border-(sub-property):(top)(bottom)(left)(right);
border-color: white green brown red;
}header
{
font-family:italic;
font-size:20px;
color:black;
}footer
{
font-family:italic;
color:black;
font-size:20px;
text-align:right;
}
.employeeid
{
color:red;
font-size:36px;
border-style:solid;
border-color:black;
}
.employeename
{
color:red;
font-size:30px;
border-style:dotted;
border-color:green;
}.Contactnumber
{
color:red;
font-size:27px;
border-style:dashed;
border-color:blue;
}
.email
{
color:red;
font-size:20px;
border-style:solid;
border-color:white;
}